[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/taki640/imgui.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/MadeByTaki/glfw.git
